<ion-header>
  <ion-navbar core-back-button>
    <ion-title *ngIf="admin == 1" style="padding: 0px;">Membership Dashboard</ion-title>
    <ion-title *ngIf="admin == 0">Membership Plan</ion-title>
  </ion-navbar>
</ion-header>
<ion-content
  fullscreen
  class="ion-padding"
  scroll-y="true"
  style="background: #fff"
>
  
  <iframe
    *ngIf="url !=''"
    width="100%"
    height="100%"
    [src]="url"
    frameborder="0"
    allowfullscreen
  ></iframe>
  <!-- <ion-slides>
    <ion-slide>
      <div class="slide">
        <img
          src="https://www.almameal.in/wp-content/uploads/2018/04/monthly.png"
          style="height: 200px"
        />
        <h2>Curious</h2>
        <ion-list>
          <ion-item>
            <ion-icon name="checkmark" item-start aria-hidden="true"></ion-icon>
            <ion-label>No transaction fees</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark" item-start aria-hidden="true"></ion-icon>
            <ion-label>20 admins/instruction</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark" item-start aria-hidden="true"></ion-icon>
            <ion-label>Free webinars with course instruction</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark" item-start aria-hidden="true"></ion-icon>
            <ion-label>Full white label options</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="checkmark" item-start aria-hidden="true"></ion-icon>
            <ion-label>Discount for retreat all</ion-label>
          </ion-item>
        </ion-list>
        <button fill="clear">Free</button>
      </div>
    </ion-slide>

    <ion-slide>
      <img
        src="https://www.almameal.in/wp-content/uploads/2018/04/monthly.png"
        style="height: 200px"
      />
      <h2>Inquisitive</h2>
      <ion-list>
        <ion-item>
          <ion-icon name="checkmark" item-start aria-hidden="true"></ion-icon>
          <ion-label>No transaction fees</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark" item-start aria-hidden="true"></ion-icon>
          <ion-label>20 admins/instruction</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark" item-start aria-hidden="true"></ion-icon>
          <ion-label>Free webinars with course instruction</ion-label>
        </ion-item>
      </ion-list>
      <h2 fill="clear">USD 1/Month OR USD 2/YEAR</h2>

      <button
        fill="clear"
        style="border: 1px solid #ff5701; border-radius: 25px; padding: 8px"
      >
        Upgrade Now <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

    <ion-slide>
      <img
        src="https://www.almameal.in/wp-content/uploads/2018/04/monthly.png"
        style="height: 200px"
      />
      <h2>Learned</h2>
      <ion-list>
        <ion-item>
          <ion-icon name="checkmark" item-start aria-hidden="true"></ion-icon>
          <ion-label>No transaction fees</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark" item-start aria-hidden="true"></ion-icon>
          <ion-label>20 admins/instruction</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark" item-start aria-hidden="true"></ion-icon>
          <ion-label>Free webinars with course instruction</ion-label>
        </ion-item>
      </ion-list>

      <h2 fill="clear">USD 1/Month OR USD 2/YEAR</h2>

      <button
        fill="clear"
        style="border: 1px solid #ff5701; border-radius: 25px; padding: 8px"
      >
        Upgrade Now <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides> -->
</ion-content>
